.editorWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.input {
    font-size: 24px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-primary);
    background: transparent;
    color: var(--text-primary);
    font-weight: bold;
    min-width: 400px;
}

.header, .input {
    display: block;
    margin: 12px 0;
    padding: 0 2px 4px;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .25s ease;
}

.header:hover {
    border-bottom-color: var(--border-primary);
}

.button {
    margin-right: 12px;
}

.button:last-child {
    margin-right: 0;
}
