.listNameWrapper {
    display: flex;
    flex-direction: row;
}

.nameInput {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--text-white);
    font-weight: bold;
    cursor: default;
}

.nameInput.editing {
    cursor: text;
}

.pencil {
    display: inline-block;
    margin-left:0;
    width: 64px;
    height: 64px;
    border: 1px solid red;
}
