.wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--border-color-primary);
}

.input {
    outline: none;
    border: none;
    padding: 12px;
    display: block;
    flex: 1;
    margin-right: 12px;
    color: var(--text-color-primary);
    background: none;
}
