.svg {
    fill: none;
    width: 24px;
    height: 24px;
    stroke: var(--off-white);
    border: 1px solid var(--off-white);
    border-radius: 50%;
    box-sizing: border-box;
}

.plusLine {
    stroke-width: 1px;
}
