:root {
    --black: #1c1b1b;
    --dark-blue: #252836;
    --blue-gray: #3f4b5d;
    --white: #fff;
    --off-white: #dedede;
    --green: #39a427;

    --paper-off-white: #fcf3ca;
    --paper-blue: #4481c4;
    --red-brown: #6d1f0c;

    --text-white: var(--off-white);
    --text-black: var(--black);

    /* Theme colors */
    --bg-color-primary: var(--paper-off-white);
    --bg-color-secondary: var(--off-white);
    --bg-color-secondary-hover: var(--blue-gray);
    --text-color-primary: var(--red-brown);
    --text-color-secondary: var(--red-brown);
    --border-color-primary: var(--paper-blue);

    --bg-color-main-content: var(--paper-off-white);

    --button-color-primary: var(--red-brown);
    --button-text-color-primary: var(--white);

    --change-theme-button-color: var(--dark-blue);
    --change-theme-button-color-hover: var(--blue-gray);

    /* Sidebar colors */
    --bg-color-sidebar: var(--white);
    --bg-color-sidebar-hover: #d0652d;
    --bg-color-sidebar-selected: #f19c6e;
    --sidebar-text-color: black;
    --sidebar-text-color-hover: white;
    --sidebar-text-color-selected: var(--sidebar-text-color);
}

/*html[data-theme='dark'] {*/
/*    --bg-color-primary: var(--black);*/
/*    --bg-color-secondary: var(--dark-blue);*/
/*    --bg-color-secondary-hover: var(--blue-gray);*/
/*    --text-color-primary: var(--off-white);*/
/*    --text-color-secondary: var(--off-white);*/
/*    --border-color-primary: #777;*/

/*    --change-theme-button-color: var(--off-white);*/
/*    --change-theme-button-color-hover: var(--white);*/
/*}*/
