:root {
    --black: #1c1b1b;
    --dark-blue: #252836;
    --blue-gray: #3f4b5d;
    --white: #fff;
    --off-white: #dedede;
    --green: #39a427;

    --paper-off-white: #fcf3ca;
    --paper-blue: #4481c4;
    --red-brown: #6d1f0c;
    --light-purple: #5960bb;
    --darker-purple: #3f46a1;

    --moss-green: #135b3f;
    --light-moss-green: #559672;
    --lighter-moss-green: #bcdcc9;
    --purple: #7d5ba6;
    --light-lavender: #dfd9e2;

    /* Theme colors */
    --bg-color-primary: var(--white);
    --text-color-primary: var(--dark-blue);
    --border-color-primary: var(--black);
    --logo-color: var(--lighter-moss-green);

    --bg-color-main-content: var(--bg-color-primary);

    --bg-color-button-primary: var(--darker-purple);
    --button-text-color-primary: var(--white);

    --change-theme-button-color: var(--dark-blue);
    --change-theme-button-color-hover: var(--blue-gray);

    /* Sidebar colors */
    --bg-color-sidebar: var(--dark-blue);
    --bg-color-sidebar-hover: var(--light-purple);
    --bg-color-sidebar-selected: var(--darker-purple);
    --sidebar-header-color: var(--off-white);
    --sidebar-text-color: var(--off-white);
    --sidebar-text-color-hover: var(--white);
    --sidebar-text-color-selected: var(--off-white);

    /* Sidebar list icon colors */
    --bg-color-sidebar-icon-1: var(--moss-green);
    --bg-color-sidebar-icon-2: var(--darker-purple);
    --bg-color-sidebar-icon-3: #c57904;
    --bg-color-sidebar-icon-4: #91022d;
    --sidebar-icon-1-text-color: var(--white);
    --sidebar-icon-2-text-color: var(--white);
    --sidebar-icon-3-text-color: var(--white);
    --sidebar-icon-4-text-color: var(--white);
    --border-color-sidebar-icon-selected: var(--white);
}

/*html[data-theme='dark'] {*/
/*    --bg-color-primary: var(--black);*/
/*    --bg-color-secondary: var(--dark-blue);*/
/*    --bg-color-secondary-hover: var(--blue-gray);*/
/*    --text-color-primary: var(--off-white);*/
/*    --text-color-secondary: var(--off-white);*/
/*    --border-color-primary: #777;*/

/*    --change-theme-button-color: var(--off-white);*/
/*    --change-theme-button-color-hover: var(--white);*/
/*}*/
