.wrapper {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.checkbox {
    margin-right: 12px;
    cursor: pointer;
}

.text {
    margin: 0 12px;
    display: inline-block;
}

.removeButton {
    margin-right: 0;
    margin-left: auto;
}
