.wrapper {
    display: flex;
    align-items: center;
    margin: 12px 0;

    padding-bottom: 4px;
    border-bottom: 1px solid var(--border-color-primary);
}

.checkbox {
    margin-right: 12px;
    cursor: pointer;
}

.text {
    margin: 0 12px;
}

.removeButton {
    margin-right: 0;
    margin-left: auto;
}
