.inputWrapper {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.input {
    display: block;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #dedede;
    transition: background-color .25s ease;
    background-color: transparent;
    opacity: 0.7;
}

.input:focus {
    background-color: #dedede;
    opacity: 1;
}

.plusSvg {
    margin-left: 8px;
    cursor: pointer;
    transition: opacity .1s ease;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.plusSvg:hover {
    opacity: 1;
}
