.wrapper {
    display: flex;
    margin: 8px 24px;
    align-items: center;
}

.listsHeader {
    color: var(--sidebar-header-color);
    margin: 0;
}

.wrapper .newListButton {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    stroke: var(--sidebar-header-color);
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
}
