.inputWrapper {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.input {
    display: block;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--border-color-primary);
    transition: opacity .25s ease;
    background-color: transparent;
    color: var(--text-color-primary);
}

.plusSvg {
    margin-left: 8px;
    cursor: pointer;
    transition: opacity .25s ease;
    width: 20px;
    height: 20px;
}
