.sidebar {
    background-color: var(--bg-color-sidebar);
    width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.sidebarContents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    overflow: hidden;
}

.logoDisclaimer {
    color: var(--sidebar-text-color);
    margin: auto 12px 0;
    font-style: italic;
    display: inline-block;
    align-self: center;
}

.logoDisclaimerLink {
    color: var(--sidebar-text-color);
}

@media (max-width: 480px) {
    .sidebar {
        position: absolute;
        width: 48px;
        transition: .2s ease;
        overflow: hidden;
    }

    .sidebar.open {
        width: 100%;
    }

    .sidebarExpander {
        display: block;
    }
}
