.sidebarItem {
    padding: 8px 12px;
    margin-bottom: 8px;
    display: flex;
    transition: border-color .2s ease;
    cursor: pointer;
    color: var(--sidebar-text-color);
    border-right: 8px solid transparent;
}

.sidebarItemText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin: 0;
}

.deleteButton {
    margin: 0 0 0 auto;
    width: 18px;
    height: 18px;
    fill: var(--sidebar-text-color);
    transition: fill .2s ease;
}

.sidebarItem:hover {
    border-color: var(--bg-color-sidebar-hover);
    color: var(--sidebar-text-color-hover);
}

.sidebarItem:hover .deleteButton {
    fill: var(--sidebar-text-color-hover);
}

.selected {
    border-color: var(--bg-color-sidebar-selected);
    color: var(--sidebar-text-color-selected)
}

.selected .deleteButton {
    fill: var(--sidebar-text-color-selected);
}
