.sidebar {
    background-color: var(--bg-color-sidebar);
    width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.sidebarContents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    flex-grow: 1;
}

.sidebarContentHeader {
    margin: 12px;
}

.headerText, .headerVersion {
    color: var(--sidebar-text-color);
}

.headerText {
    margin: 0;
}

.headerVersion {
    font-size: 12px;
}

.logoDisclaimer {
    color: var(--sidebar-text-color);
    margin: auto 12px 0;
    font-style: italic;
    display: inline-block;
    align-self: center;
}

.logoDisclaimerLink {
    color: var(--sidebar-text-color);
}

@media (max-width: 480px) {
    .sidebar {
        position: fixed;
        width: 100%;
        right: 100%;
        transition: right .4s ease;
    }

    .sidebar.open {
        right: 0;
    }

    .sidebarExpander {
        display: block;
    }
}
