.sidebarHandle {
    margin: 12px;
}

.sidebarLogo {
    fill: var(--logo-color);
    width: 36px;
    height: 36px;
}

@media (max-width: 480px) {
    .sidebarHandle {
        margin: 6px;
    }

    .sidebarLogo {
        cursor: pointer;
    }
}
