.header {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color-header);
    padding: 24px;
    align-items: center;
}

.logo {
    width: 48px;
    height: 48px;
    display: inline-block;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.headerText {
    margin: 0;
}

.headerVersion {
    display: block;
    color: var(--text-color-primary);
}

.themeButton {
    margin-right: 12px;
    margin-left: auto;
    cursor: pointer;
    fill: var(--change-theme-button-color);
}

.themeButton:hover {
    fill: var(--change-theme-button-color-hover);
}
